<h1>All the Pets</h1>
<h3>(Click on a pets name for details)</h3>
<hr />

  <% for pet in @pets %>
  <div class="pet-info">

    <p>Name: <a href="/pets/<%= pet.id %>"> <%= pet.pretty_name_pet %></a></p>
    <p>Owner: <a href="/owners/<%= pet.owner_id %>"><%= pet.owner.pretty_name_owner %></p>

    <hr />
  <% end %>
