<h1>All the Pets</h1>
<p>(Click on a pets name for details)</p>
<hr />
<div class="row">
</div>
<div class="pet">

  <% for pet in @pets %>
  <div class="pet-info">

    <p>Name: <a class="name" href="/pets/<%= pet.id %>"> <%= pet.pretty_name_pet %></a></p>
    <p>Owner: <a class="name" href="/owners/<%= pet.owner_id %>"><%= pet.owner.pretty_name_owner %></p>

    <hr />
  </div>
  <% end %>

</div>
