body {
  padding: 0;
  margin: 0;
  background-color: aquamarine;
}

nav {
  background-color: black;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}


h1 {
  color: black;
  margin:0;
  font-variant: small-caps;
  font-size: 100px;
  text-align: center;
  font-family: Times, Times New Roman, Georgia, serif;
  margin-bottom: 20px;
}

h2, h3{
  color: silver;
  margin:0;
  font-variant: small-caps;
  font-size: 50px;
  text-align: center;
  font-family:  Lucida Console, Courier, monospace;

}

.topnav {
    background-color: aquamarine;

}


.topnav a:hover {
    background-color: gray;
    color: black;
}

form {
display:flex;
flex-direction: column;
margin: 0 auto;
width:30%;
align-items: center;
}

.pet {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.pet-info {
  font-family: Times, Times New Roman, Georgia, serif;
  text-align: center;
}

.owner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.owner-info {
  font-family: Times, Times New Roman, Georgia, serif;
  text-align: center;
}


a.name {
  color: silver;
  text-decoration: none;
}

a.name:visited {
  color: gold;
}

#home-container {
  background-image: url('/images/main_page.jpg');
  background-size: 100% 100%
}

#create-pet-container {
  background-image: url('/images/add_pet.jpg');
  background-size: cover;
  opacity: 0.9;
}

#create-owner-container {
  background-image: url('/images/add_owner.jpg');
  background-size:cover;
  opacity: 0.9;
}
