body {
  padding: 0;
  margin: 0;
  background-color: black;
}

nav {
  background-color: silver;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}



#home-container {
  background-image: url('/images/main_page.jpg');
  background-size: 100% 100%

}
