<h1>All the Owners</h1>

<hr />
<div class="row">
  <p>(Click on an owner name for details)</p>
</div>
<div class="pet">

  <% for owner in @owners %>
  <div class="pet-info" id="<%= owner.pretty_name_owner %>">

    <p>Name: <a class="name" href="/owners/<%=owner.id %>"> <%= owner.pretty_name_owner %></a></p>
    <p>Pets: <%= owner.pets %></p>

    <hr />
  </div>
  <% end %>

</div>


<!-- array.map{|x| x[:price]} -->
