<div id="create-container" class="container">

  <h1>Add an Owner</h1>
  <hr/>

      <form action="/owners" method="post">
      <label for="first_name" >First Name</label>
      <input type="text" name="first_name">
      <hr/>
      <label for="last_name">Last Name</label>
      <input type="text" name="last_name">
      <hr/>
      <label for="age">Age</label>
      <input type="number" name="age">
      <hr/>
      <label for="location" >Location</label>
      <input type="text" name="location">
            <hr/>

    <input type="submit" value="Save">
  </form>
</div>
