<div class="container">

  <h1><%= @owner.pretty_name_owner %></h1>


  <h2 class = "row">Pets under care:</h2>
  <div class="pet">

    <% for pet in @pets %>
    <div class="pet-info">

      <p>Pet Name: <a class="name" href="/pets/<%= pet.id %>"> <%= pet.pretty_name_pet %></a></p>

      <hr />
    </div>
    <% end %>

  </div>
</div>
