<div class="container">

  <h1><%= @owner.name %></h1>
  <div class="row">
    <div class="pet-info">
    </div>
  </div>

  <h2 class = "row">Pets</h2>
  <div class="Pet">

    <% for pet in @pets %>
    <div class="pet-info">

      <p>Name: <a class="name" href="/pets/<%= pet.id %>"> <%= pet.pretty_name_pet %></a></p>
      <p>Owner: <%= pet.owner.name %></p>

      <hr />
    </div>
    <% end %>

  </div>
</div>
